{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Delete "{{ object }}"{% endblocktrans %}{% endblock %}


{% block content %}
<div class="row">
  <div class="col"></div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        {% blocktrans %}Delete "{{ object }}"{% endblocktrans %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <p>{% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</p>
          <button type="submit" class="btn btn-primary">{% trans "Confirm"%}</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col"></div>

</div>
{% endblock %}
