{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Projects"%}{% endblock %}


{% block content %}

{% for project in object_list %}
<div class="{% if project.priority == 0 %}table-success{% elif project.priority < 5 %}table-secondary{% endif %} row p-2">

  <div class="col-4 col-md-2"><a href="{{ project.get_absolute_url }}">{{ project.name|title }}</a></div>
  <div class="col-4 col-md-2">
    {% include "core/includes/project_list_filter.html" %}
  </div>

  <div class="col-4 col-md-4">
    <a href="{% url 'core:project-review' pk=project.pk %}">
      <div class="progress" style="height:100%">
        <div class="progress-bar" style="width:{{ project.percent }}%; height:100%">{{ project.percent }}%</div>
      </div>
    </a>
  </div>

  <div class="col-12 col-md-4">
    {{ project.description|truncatechars:80 }}
    {% if project.description|length > 80 %}
      <a class="btn btn-outline-primary pt-0 pb-0" data-toggle="collapse" data-target="#description{{ project.pk }}">more</a>
    {% endif %}
  </div>

  <div class="col-12 collapse m-2" id="description{{ project.pk }}" ><pre>{{ project.description }}<pre></div>

</div>

<hr class="m-1">

{% empty %}

<p>{% trans "No Projects." %} <a href="{% url 'core:project-create' %}">{% trans "Create some."%}</a></p>

{% endfor %}

{% endblock %}
