{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h2>
      {{ object.name|title }}
      <div class="btn-group btn-group-sm float-right">
        <a class="btn btn-outline-primary" href="{% url 'core:project-review' pk=project.pk %}">{% trans "Work"%}</a>
        <a class="btn btn-outline-primary" href="{% url 'core:project-update' pk=project.pk %}">{% trans "Edit"%}</a>
        <a class="btn btn-outline-primary" href="{% url 'core:project-delete' pk=project.pk %}">{% trans "Delete"%}</a>
      </div>
    </h2>
  </div>
  <div class="card-body">
    <div class="progress">
      <div class="progress-bar" style="width:{{ object.percent }}%">{{ object.percent }}%</div>
    </div>

    <p>{% include "core/includes/project_list_filter.html" %}</p>

    <pre>{{ object.description }}</pre>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 150px">{% trans "Date"%}</th>
            <th>{% trans "Description"%}</th>
            <th>{% trans "Priority"%}</th>
            <th>{% trans "Progress"%}</th>
          </tr>
        </thead>
        <tbody>
          {% for review in object.reviews.all %}
          <tr>
            <td>{{ review.create_at|date:'Y-m-d H:i' }}</td>
            <td>{{ review.description }}</td>
            <td>{{ review.priority }}</td>
            <td>
              <div class="progress">
                <div class="progress-bar" style="width:{{ review.percent }}%"></div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>
{% endblock %}
