{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Welcome"%}{% endblock %}


{% block content %}
<div class="row">

  <div class="col-12 col-md-4">
    <div class="card">
      <h2 class="card-header">{% trans "Welcome to Center"%}</h2>
      <div class="card-body">
        <p class="text-warning">{% trans "Still a beta version. Try at your own risk."%}</p>
        <p>{% trans "A very small and lightweight project management tool."%}</p>
        <h3>{% trans "Features"%}</h3>
        <ul>
          <li>{% trans "lightweight"%}</li>
          <li>{% trans "fast work flow"%}</li>
          <li>{% trans "unlimited projects"%}</li>
          <li>{% trans "classify projects according to priority"%}</li>
          <li>{% trans "track the progress of each project"%}</li>
          <li>{% trans "setup your own server or signup"%}</li>
        </ul>
      </div>
    </div>
  </div>

{% if user.is_authenticated %}

  <div class="col-12 col-md-8">
    <div class="card">
      <h2 class="card-header">{% trans "Hello"%} user</h2>
      <div class="card-body">
        <a class="nav-link" href="{% url 'core:project-list' %}">{% trans "Your projects"%}</a>
      </div>
    </div>
  </div>

{% else %}

  <div class="col-12 col-md-4">
    <div class="card">
      <h2 class="card-header">{% trans "Login"%}</h2>
      <div class="card-body">
        <form method="post" action="{% url 'alpha:login' %}">
          {% csrf_token %}
          {{ login_form|crispy }}
          <button type="submit" class="btn btn-primary">{% trans "Login"%}</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card">
      <h2 class="card-header">{% trans "Signup"%}</h2>
      <div class="card-body">
        <form method="post" action="{% url 'alpha:signup' %}">
          {% csrf_token %}
          {{ signup_form|crispy }}
          <button type="submit" class="btn btn-primary">{% trans "Signup"%}</button>
        </form>
      </div>
    </div>
  </div>
{% endif %}


</div>
{% endblock %}
